<footer
    class="flex flex-col justify-between gap-4 bg-navbar px-5 py-4 text-navbar-foreground sm:px-10 md:flex-row md:gap-8 md:px-20 lg:px-[10vw]"
>
    <div class="flex flex-1 flex-col gap-4">
        <h2 class="text-xl">Contact Information</h2>
        <div class="flex flex-col gap-2 text-navbar-muted-foreground">
            <div>
                <h3 class="font-bold">
                    Rob Gashgarian - President & Treasurer
                </h3>
                <p class="flex items-center gap-1">
                    <a href="mailto:rob@brantchess.ca" class="hover:underline">
                        rob@brantchess.ca
                    </a>
                    <span>|</span>
                    <a href="tel:5197328909" class="hover:underline">
                        (519) 732-8909
                    </a>
                </p>
            </div>
            <div>
                <h3 class="font-bold">Lee Hendon - Tournament Director</h3>
                <p class="flex items-center gap-1">
                    <a href="mailto:lee@brantchess.ca" class="hover:underline">
                        lee@brantchess.ca
                    </a>
                    <span>|</span>
                    <a href="tel:5197718848" class="hover:underline">
                        (519) 771-8848
                    </a>
                </p>
            </div>
            <div>
                <h3 class="font-bold">
                    Brady DeBoer - Web Developer & Designer
                </h3>
                <a href="mailto:brady@brantchess.ca" class="hover:underline">
                    brady@brantchess.ca
                </a>
            </div>
        </div>
    </div>
    <div class="flex flex-1 flex-col gap-4">
        <h2 class="text-xl">Membership Information</h2>
        <div class="flex flex-col gap-2 text-navbar-muted-foreground">
            <p>
                For all visitors, your first three visits are absolutely FREE!
                After that, you may continue to visit for a $2 fee per visit, or
                you may buy a membership.
            </p>
            <div>
                <h3 class="pb-1 font-bold">Memberships</h3>
                <div>
                    <p>Adult: $40</p>
                    <p>Student/Junior/Senior: $30</p>
                    <p>Family: $60</p>
                </div>
            </div>
        </div>
    </div>
</footer>
